.gradient-slider {
    -webkit-appearance: none;
    height: 6px;
    background: linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8));
    border-radius: 50px;
    outline: none;
    opacity: 0.9;
    transition: opacity .15s ease-in-out;
}

.gradient-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    visibility: hidden;
}

.gradient-slider::-moz-range-thumb {
    width: 0;
    height: 0;
    visibility: hidden;
}

.gradient-slider::-ms-thumb {
    width: 0;
    height: 0;
    visibility: hidden;
}

.gradient-slider:focus {
    opacity: 1;
}