.slider {
    /* slider */
    --slider-width: 20vw;
    --slider-height: 12px;
    --slider-bg: rgb(170, 170, 170);
    --slider-border-radius: 999px;
    /* level */
    --level-color: #1e3a8a;
    --level-transition-duration: 0.1s;
    /* icon */
    --icon-margin: 15px;
    --icon-color: var(--slider-bg);
    --icon-size: 25px;
}

.slider {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider .volume {
    display: inline-block;
    vertical-align: top;
    margin-right: var(--icon-margin);
    color: var(--icon-color);
    width: var(--icon-size);
    height: auto;
}

.slider .level {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--slider-width);
    height: var(--slider-height);
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    -webkit-transition: height var(--level-transition-duration);
    -o-transition: height var(--level-transition-duration);
    transition: height var(--level-transition-duration);
    cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px var(--level-color);
    box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
    height: calc(var(--slider-height) * 1.2);
}

@media (max-width: 768px) {
    .slider .level {
        width: 60vw;
    }
}


.sidebar-in-animation {
    transform: translateX(0);
    animation: animate-in-sidebar 300ms ease-in-out;
}

@keyframes animate-in-sidebar {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.sidebar-out-animation {
    transform: translateX(-100%);
    animation: animate-out-sidebar 300ms ease-in-out;
}

@keyframes animate-out-sidebar {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-enter {
    animation: slideInFromRight 0.3s ease-out forwards;
}

.slide-exit {
    animation: slideInFromRight 0.3s ease-in reverse;
}